<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LittleAvito</title>
</head>
<body>
<h1>LittleAvito</h1>
<hr>
<div th:if="${user.email}">
  <h3>Имя пользователя: <i th:text="${user.name}"></i></h3>
  <form action="/logout" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <input type="submit" value="Выйти" />
  </form>
</div>
<div th:unless="${user.email}">
  <a href="/login">Войти</a>
</div>
<hr>
<h4>Товары со всей России</h4>
<form action="/" method="get">
  Поиск по названию объявления: <input type="text" name="title" />
  <input type="submit" value="Поиск" />
</form>
<div th:if="${products.size() > 0}">
  <div th:each="product : ${products}">
    <div>
      <p><b th:text="${product.title}"></b> <span th:text="${product.price}"></span> руб. | <a th:href="@{/product/{id}(id=${product.id})}">Подробнее...</a></p>
    </div>
  </div>
</div>
<div th:unless="${products.size() > 0}">
  <h3>Товаров нет</h3>
</div>
<div th:if="${user.email}">
  <hr>
  <h3>Создать новый товар</h3>
  <form action="/product/create" method="post" enctype="multipart/form-data">
    Название объявления: <input type="text" name="title" /><br><br>
    Описание объявления: <input type="text" name="description" /><br><br>
    Цена: <input type="number" name="price" /><br><br>
    Город: <input type="text" name="city" /><br><br>
    Первая фотография: <input type="file" name="file1" /><br><br>
    Вторая фотография: <input type="file" name="file2" /><br><br>
    Третья фотография: <input type="file" name="file3" /><br><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <input type="submit" value="Добавить товар" />
  </form>
</div>
</body>
</html>
